/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .slider-height {
        min-height: 800px;
        max-height: 780px;
    }

    
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .slider-height {
        min-height: inherit;
        max-height: 600px;
    }
    .header-top-area, .header-bottom-area {
        padding: 0;
    }
    .header-button {
        margin-top: 25px;
    }
    .header-button > a {
        padding: 12px 16px;
        font-size: 15px;
    }
    .main-menu ul li {
        margin-left: 26px;
    }
    .main-menu ul li a {
        padding: 40px 0;
    }
    .wrapper-box {
        padding: 0;
    }
    .slider-transp-img img {
        width: 100%;
    }
    .single-features {
        padding: 0;
    }
    .promotion-text {
        padding: 80px 0 80px 20px;
    }
    /* Home 2 */
    .slider-transp-img-2.slider-full img {
        width: 75%;
    }
    .slider-area .height-80 {
        height: 80vh !important;
    }
    .promotion2-img img {
        width: 100%;
    }
    .promo-2 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .single-counter-2 {
        text-align: center;
    }
    .single-counter-2 p {
        margin-left: 0 !important;
    }
    .section-title2 p {
        padding: 0;
    }
    .blog-space {
        padding-right: 15px;
    }
    .why-chose {
        padding: 0;
    }

    .update-card .clear-cart {
        margin-bottom: 15px;
        margin-left: 0 !important;
    }
    .contact-info h2 {
        margin-bottom: 20px;
    }
    .contact-meta {
        margin-bottom: 7px;
    }
    .port-details-img {
        margin-bottom: 20px;
    }
    .service-box {
        padding: 15px;
        text-align: center;
    }
    .product-desc h2 {
        font-size: 38px;
    }
}

    
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        min-height: 500px;
    }
    .header-bottom-area {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }
    .single-features {
        padding: 0;
    }
    .single-features h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .promotion-text {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }
    .wrapper-box, 
    .header-top-area, 
    .header-bottom-area {
        padding: 0 20px;
    }
    .portofilo-menu > button {
        margin: 0 0;
        padding: 10px 10px;
    }
    .usefull-link li {width: 100%;}
    .footer-widget form button {padding: 0 8px;}
    .footer-widget h3 {font-size: 23px;}

    /* Home 2 */
    .section-title2 p {
        padding: 0;
    }
    .promo-2 {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
    }
    .mobile-menu-3.mean-container a.meanmenu-reveal {
        top: 8px;
    }
   .header-bottom-area-3 {
        padding-bottom: 0px !important;
    }
    .slider-height-3 h1 {
        font-size: 55px !important;
    }
    .single-slider.slider-height-3 {
        min-height: 500px !important;
    }
    .promotion-img-3 {
        min-height: 400px;
    }
    .page-title-area {
        padding: 100px 0px;
    }
    .post-comments-form {
        margin-bottom: 40px;
    }
    .blog-space {
        padding-right: 0px;
        padding-left: 0px;
    }
    .update-card .clear-cart {
        margin-bottom: 15px;
        margin-left: 0 !important;
    }
    .contact-info {
        margin-top: 50px;
    }
    .port-details-img {
        margin-top: 30px;
    }
}

    
/* Extra small Device. */
@media (max-width: 767px) {
    .bar-intro {
        width: 300px;
        padding: 30px 20px;
    }
    .header-top-area {
        padding: 0;
    }
    .header-bottom-area {
        padding: 0;
        padding-top: 17px;
    }
    .wrapper-box {
        padding: 0;
    }
    .slider-height {
        min-height: 420px;
    }
    .slider-content h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .slider-content p {
        padding-right: 0;
    }
    .slider-content span {
        letter-spacing: 2px;
    }
    .single-slider {
        background-size: cover !important;
    }
    .features-title h2 {
        font-size: 33px;
    }
    .single-features {
        padding: 0;
    }
    .single-features h3 {
        font-size: 22px;
    }
    .promotion-text {
        padding-left: 0;
        padding-right: 0;
    }
    .promotion-text {
        padding: 35px 0;
    }
    .promotion-text h3 {
        font-size: 22px;
    }
    .portfolio-menu > button {
        margin: 4px 8px;
        padding: 10px 15px;
    }
    .blog-wrapper {
        padding: 30px 20px;
    }
    .testimonial-area h3 {
        font-size: 24px;
    }
    .testimonial-wrapper {
        padding: 0 15px 25px 15px;
        margin: 60px 0 0 0;
    }
    .cap img {
        width: 100%;
    }
    .promotion2-img img {
        width: 100%;
    }
    .section-title2 p {
        padding: 0;
    }
    .single-counter-2 {
        text-align: center;
    }
    .single-counter-2 p {
        margin-left: 0 !important;
    }
    .mobile-menu-3.mean-container a.meanmenu-reveal {
        top: 8px;
    }
   .header-bottom-area-3 {
        padding-bottom: 0px !important;
    }
    .single-slider.slider-height-3 {
        min-height: 400px !important;
    }
    .promotion-img-3 {
        min-height: 400px;
        display: block !important;
    }
    .portfolio-area-3 {
        padding-top: 60px !important;
    }
    .page-title h1 {
        font-size: 40px;
    }
    .page-title-area {
        padding: 100px 0px;
    }
    .blog-space {
        padding-right: 0px;
        padding-left: 0px;
    }
    .blog-details-item-title h4 {
        font-size: 25px;
    }
    .blockquote {
        margin-left: 16px;
        padding-left: 13px;
    }
    .comments-avatar {
        margin-right: 0;
        float: none;
        margin-bottom: 13px;
    }
    .single-comments {
        overflow: inherit;
    }
    .comments-reply {
        margin-left: 35px;
    }
    .why-chose {
        padding: 0;
    }
    .update-card a {
        margin-left: 0 !important;
    }
    .update-card .clear-cart {
        margin-bottom: 15px;
        margin-left: 0 !important;
    }
    .coupon-left button {
        margin-left: 0 !important;
        margin-top: 15px;
    }
    .contact-info h2 {
        font-size: 32px;
    }
    .port-details-img {
        margin-top: 30px;
    }
    .project-status {
        padding: 25px;
    }
    .product-filter .nice-select {
        float: left;
        margin-top: 20px;
    }
    .product-tab {
        width: auto;
        height: auto;
        float: none;
        border: none;
    }
    #myTabContent {
        margin-left: 0;
    }
    .product-tab li {
        margin-right: 10px;
    }
    .product-desc h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .product-review .review-tab .nav-link {
        margin-right: 20px;
    }
    .product-comments-list {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
    }
    .product-comt-text {
        margin-left: 0;
        margin-top: 15px;
    }
}
    
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    
}